.disabled {
  pointer-events: none;
}

.filterRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filterRight {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 1rem;
}
