.leftArrow {
  background-color: white;
  opacity: 0.5;
  left: 0;
  top: calc(50% - 0.75rem);
  position: absolute;
  font-size: 1.5rem;
  border-radius: 50%;
  z-index: 100;
}

.rightArrow {
  background-color: white;
  opacity: 0.5;
  right: 0;
  top: calc(50% - 0.75rem);
  position: absolute;
  font-size: 1.5rem;
  border-radius: 50%;
  z-index: 100;
}
