.shopBtn:hover {
  transform: scale(1.1);
}

.fontSize-5vw {
  font-size: 5vw;
  line-height: 1;
}

.fontSize-2-5vw {
  font-size: 2.5vw;
  line-height: 1;
}

.bestSellers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 1rem;
  row-gap: 1rem;
  justify-items: center;
}
